@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="row">
    <div class="col-md-12">
        <h2>Bem Vindo ao projeto de exemplo de Auth0 feito com .net Core 6</h2>
        <p>Para configurar o Auth0 <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core">clique aqui</a>.
    </div>
</div>